@use "../../assets/styleUtils/" as *;

.groupCard {
  background: var(--whiteClr);
  border-radius: 6px;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  @include mq2(600px) {
    flex-direction: column;
    align-items: unset;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .join {
    width: 120px;
    border-radius: 30px;
    background: var(--primary);
    color: white;
    padding: 8px;
    height: unset;
    @include mq2(600px) {
      width: 100%;
      margin-top: 20px;
      height: 25px;
      font-size: 10px;
    }
  }
  .groupText {
    .groupName {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;

      margin-bottom: 10px;
    }
    .bottom {
      display: flex;
      align-items: center;
      .members {
        font-weight: 600;
        font-size: 13px;
        line-height: 10px;

        opacity: 0.6;
        margin-right: 15px;
      }
      .images {
        display: flex;
        align-items: center;
        img {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          &:nth-child(2) {
            margin-left: -5px;
          }
          &:nth-child(3) {
            margin-left: -5px;
          }
        }
        p {
          font-weight: 600;
          font-size: 10px;
          line-height: 10px;
          margin-left: 5px;
          margin-top: 3px;
          color: var(--primary);
        }
      }
    }
  }
}
