@use "../../assets/styleUtils/" as *;

.input-icon-wrap {
  background: var(--inputBg);

  border: 1px solid var(--inputBorder);
  width: 100%;
  border-radius: 25.5692px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  &.icon-placeholder {
    input {
      padding-left: 50px;
      &.pad {
        padding-left: 10px;
      }
    }
    .icon-left {
      cursor: text;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      color: var(--primary);
      path {
        fill: var(--primary);
      }
    }
  }

  .icon,
  .extraSelect {
    height: 100%;
    // width: 20px;
    background: transparent;
    cursor: pointer;
    padding: 0 24px;
    border: none !important;
    color: var(--primary);
    // path {
    //   fill: var(--primary);
    // }
  }
  .extraSelect {
    border: none;
    width: 100px;
  }

  input {
    background: transparent;
    border: none !important;
    height: 95% !important;
    flex-grow: 2;
    color: var(--blackClr);
    font-size: 11.08px;
    &::placeholder {
      color: var(--blackClr);
      font-size: 11.08px;
    }
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.3rem 0;
  width: 100%;
  &.extraWidth {
    width: 48%;
  }

  &.except {
    margin-bottom: 10px;
  }

  label {
    font-weight: 600;
    color: var(--primary);
    font-size: 0.8rem;
    margin: 0.2rem 0 0.5rem 0;
    color: var(--primary);
  }
}

input:not([type="checkbox"]),
select,
textarea {
  background: transparent;
  border: 1px solid inherit;
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  border-radius: 25.5692px;

  &:focus {
    outline: none;
  }
}
textarea {
  background-color: var(--inputBg);
}
.form-group textarea {
  height: 130px !important;
  padding: 0.5rem;
  resize: vertical;
}
.is-invalid {
  border-color: var(--redClr) !important;
  .icon {
    path {
      fill: var(--redClr);
    }
  }
}
.input-err-msg {
  color: var(--redClr);
  width: 100%;
  font-weight: 500;
  font-size: 8.51965px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  text-align: right;
}
.commentInput {
  margin-bottom: 0;
  input,
  .input-icon-wrap {
    background: transparent;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    &:focus {
      background: transparent;
    }
  }
  .input-icon-wrap {
    border-top: 1px solid var(--inputBg);
    .icon-left svg path {
      fill: var(--blackClr) !important;
    }
    // svg path {
    //   fill: var(--inputBg);
    // }
  }
}
